.form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 10px;
}

@media(max-width: 767px) {
    .form {
        grid-template-columns: 1fr;
        
    }
}

.form__input {
    height: 10px;
    width: 100%;
    max-width: 800px;
    padding: 18px;
    border: 1px solid rgb(171, 168, 168);

}


.form__button {
    height: 38px;
    width: 120px;
    background: rgb(0, 128, 128);
    color: white;
    border: none;
    margin-left: 2%;
   
}

@media(max-width: 767px) {
    .form__button {
        grid-template-columns: 1fr;
        width: 100%;
        margin-left: 0;
        margin-top: 10px;
    }
}

.form__button:hover {
    background: rgb(0, 128, 128);
}

.form__input:focus {
    border-color: rgb(0, 128, 128);
    outline-color: black;
}