.tasks {
    list-style: none;
    margin: 0;
    padding: 0;
}

.tasks__item {
    display: grid;
    align-items: center;
    padding: 10px;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
    border-bottom: 1px solid #ddd;
}

.tasks__content--done {
    text-decoration: line-through;
}

.tasks__button {
    width: 60px;
    height: 30px;
    padding: 0;
    border: none;
    color: rgb(0, 0, 0);
}

.tasks__button--toggleDone {
    background: rgba(44, 41, 38);
}

.tasks__button--toggleDone:hover {
    background: rgba(44, 41, 38);
}

.tasks__button--toggleDone:active {
    background: rgb(44, 41, 38);
}